.login-box {
  position: relative;
  width: 540px;
  height: max-content;
  padding: 48px;
  border-radius: 12px;
  background: transparent;
}

.login-box-logo {
  width: 95px;
  height: 28px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.logodark {
  background-color: #0a0a0a;
  color: #cacfd8;
}

.logodark > p {
  color: #fff;
}

.logodark label {
  color: #fff;
}

.logodark input:hover {
  background-color: #262626;
}
